### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

### Exercise 3 - Create a markdown cell for an introduction

##### In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 4 - Create a markdown cell to list data science languages

#### Some of the popular languages that Data Scientists use are:
1.Python
</br>
2.R.
</br>
3.SQL.
</br>
4.Java.
</br>
5.Scala.

### Exercise 5 - Create a markdown cell to list data science libraries

##### Some of the commonly used libraries used by Data Scientists include:
1-TensorFlow

2-Scikit-learn

3-Numpy

4-Matplotlib

5-Pandas

### Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |  |  |
| :------- | --- | --- |
| Apache Spark     |  |  |
|  |  |  |
| Apache Hadoop   |  |  |
|  |  |  |
| TensorFlow   |  |  |
|  |  |  |

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

##### Below are a few examples of evaluating arithmetic expressions in Python.
#### Addition
code1 = compile("3 + 6", "eval")
<br>
eval(code1)
<br>
Result: 9
#### Substraction
code2 = compile("10 - 4", "eval")
<br>
eval(code2)
<br>
Result: 6
#### Multiplication
code3 = compile("5 * 5", "eval")
<br>
eval(code3)
<br>
Result: 25

### Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

### Exercise 9 - Create a code cell to convert minutes to hours

In [7]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

### Exercise 10 - Insert a markdown cell to list Objectives

#### In this notebook, Data Science Tools and Ecosystem are summarized.
##### Objectives:

* Data Organization.  
* Iteration and Access.  
* Ordered Elements.  
* Collection of Items.

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author 
Ruqaya Alkhateeb